{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Login' %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="page-header">{% trans 'Login' %}</h2>
      <form method="post">
        {% csrf_token %}
        {% include 'forms/form.html' with form=form %}
        <div class="form-group">
          <button type="submit" class="btn btn-default">{% trans 'Log in' %}</button>
          <a href="" class="btn btn-link">Forgot password?</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}