{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Sign up for CmdBox' %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="page-header">{% trans 'Sign up' %}</h2>
      <form method="post">
        {% csrf_token %}
        {% include 'forms/form.html' with form=form %}
        <div class="form-group">
          <button type="submit" class="btn btn-default">{% trans 'Submit' %}</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}