dj-database-url==0.4.0
Django==1.9.4
django-debug-toolbar==1.4
django-widget-tweaks==1.4.1
model-mommy==1.2.6
psycopg2==2.6.1
python-decouple==3.0
pytz==2016.3
Unipath==1.1
flake8==2.5.4
coverage==4.0.3
coveralls==1.1
pyparsing==2.1.1
