{% extends 'base.html' %}

{% load i18n static widget_tweaks %}

{% block javascript %}
  <script>
    $(function () {
      $("#name").keyup(function () {
        var text = $(this).val();
        var slug = $.cmdbox.slug(text);
        $(".slug-preview").text(slug);
        $("#id_slug").val(slug);
      });

      $("#form-create-snippet").submit(function () {
        $("#btn-create-snippet").text("Creating…");
        $("#btn-create-snippet").prop("disabled", true);
      });

    });
  </script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="page-header">{% trans 'Add snippet' %}</h2>
      <form method="post" id="form-create-snippet">
        {% csrf_token %}

        {% if form.non_field_errors %}
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-label="{% trans 'Close' %}">
              <span aria-hidden="true">&times;</span>
            </button>
            {% for error in form.non_field_errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}

        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}

        <div class="form-group{% if form.slug.errors %} has-error{% endif %}">
          <label for="{{ form.slug.id_for_label }}" class="control-label">{{ form.slug.label }}</label>
          <div class="row">
            <div class="col-sm-5">
              <input type="text"
                     id="name"
                     class="form-control"
                     value="{{ form.slug.value|default_if_none:'' }}"
                     maxlength="{{ form.slug.field.max_length }}"
                     autofocus>
              {% render_field form.slug class='form-control' type='hidden' %}
            </div>
            <div class="col-sm-7">
              <span class="help-block">
                /{{ user.username }}/<strong class="slug-preview">{{ form.slug.value|default_if_none:'your-snippet' }}</strong>/
              </span>
            </div>
          </div>
          {% for error in form.slug.errors %}
            <span class="help-block">{{ error }}</span>
          {% endfor %}
          {% if form.slug.help_text %}
            <span class="help-block">{{ form.slug.help_text }}</span>
          {% endif %}
        </div>

        <div class="form-group{% if form.description.errors %} has-error{% endif %}">
          <label for="{{ form.description.id_for_label }}" class="control-label">{{ form.description.label }}</label>
          {% render_field form.description class='form-control' %}
          {% for error in form.description.errors %}
            <span class="help-block">{{ error }}</span>
          {% endfor %}
          {% if form.description.help_text %}
            <span class="help-block">{{ form.description.help_text }}</span>
          {% endif %}
        </div>

        {% render_field form.content class='form-control' %}

        <hr>
        {% with choices=form.instance.VISIBILITY_CHOICES %}
          <div class="form-group{% if form.visibility.errors %} has-error{% endif %}">
            <div class="radio">
              <label>
                <input type="radio"
                       name="visibility"
                       value="{{ choices.0.0|slugify }}"
                       {% if form.visibility.value|slugify == choices.0.0|slugify %} checked{% endif %}>
                {{ choices.0.1 }}
              </label>
            </div>
            <span class="help-block">{% trans 'Anyone can see this snippet.' %}</span>
            <div class="radio">
              <label>
                <input type="radio"
                       name="visibility"
                       value="{{ choices.1.0|slugify }}"
                       {% if form.visibility.value|slugify == choices.1.0|slugify %} checked{% endif %}>
                {{ choices.1.1 }}
              </label>
            </div>
            <span class="help-block">{% trans 'It\'s still public but won\'t be published in the CmdBox directories.' %}</span>
            <div class="radio">
              <label>
                <input type="radio"
                       name="visibility"
                       value="{{ choices.2.0|slugify }}"
                       {% if form.visibility.value|slugify == choices.2.0|slugify %} checked{% endif %}>
                {{ choices.2.1 }}
              </label>
            </div>
            <span class="help-block">{% trans 'Only you can see this snippet.' %}</span>
            {% for error in form.visibility.errors %}
              <span class="help-block">{{ error }}</span>
            {% endfor %}
          </div>
        {% endwith %}
        <hr>
        <div class="form-group">
          <button type="submit" id="btn-create-snippet" class="btn btn-primary btn-block">
            {% trans 'Create snippet' %}
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
