{% extends 'base.html' %}

{% load humanize i18n %}

{% block title %}
  {% blocktrans trimmed with username=page_user.username %}
    Snippets - {{ username }}
  {% endblocktrans %}
{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'profile' page_user.username %}">{{ page_user.profile.get_display_name }}</a></li>
  <li class="active">{% trans 'Snippets' %}</li>
{% endblock %}

{% block content_header %}
  {% include 'profiles/includes/menu_profile.html' with active='snippets' %}
{% endblock %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <div class="pull-right" style="margin-top: -5px">
          <button type="button" class="btn btn-link btn-sm" style="font-weight: bold; color: #555">{% trans 'All' %}</button>
          <button type="button" class="btn btn-link btn-sm">{% trans 'Public' %}</button>
          <button type="button" class="btn btn-link btn-sm">{% trans 'Unlisted' %}</button>
          <button type="button" class="btn btn-link btn-sm">{% trans 'Private' %}</button>
          <div class="btn-group">
            <button type="button"
                    class="btn btn-default btn-sm dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
              <span class="glyphicon glyphicon-sort-by-attributes"></span>
              {% blocktrans with order='name' %}Order by <strong>{{ order }}</strong>{% endblocktrans %}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0);">{% trans 'name' %}</a></li>
              <li><a href="javascript:void(0);">{% trans 'stars' %}</a></li>
              <li><a href="javascript:void(0);">{% trans 'numbers of usage' %}</a></li>
              <li><a href="javascript:void(0);">{% trans 'last used' %}</a></li>
              <li class="divider"></li>
              <li>
                <a href="javascript:void(0);">
                  <span class="glyphicon glyphicon-check"></span> <strong>{% trans 'asc' %}</strong>
                </a>
                <a href="javascript:void(0);">
                  <span class="glyphicon glyphicon-unchecked"></span> {% trans 'desc' %}
                </a>
              </li>
            </ul>
          </div>
          <a href="{% url 'add_snippet' %}" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-plus"></span> {% trans 'Add' %}
          </a>
        </div>
        {% trans 'Your snippets' %}
      </h3>
    </div>
    <div class="panel-body">
      <div class="form-group has-feedback" style="margin-bottom: 0;">
        <input type="text" class="form-control" placeholder="Search for snippets…">
        <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
      </div>
    </div>
    <div class="list-group">
      {% for snippet in page_user.snippets.all %}
        <a href="{% url 'snippets:details' snippet.user.username snippet.slug %}"
           class="list-group-item{% if snippet.visibility == snippet.PRIVATE %} list-group-item-warning{% elif snippet.visibility == snippet.UNLISTED %} list-group-item-info %}{% endif %}">
          <div class="pull-right" style="margin-top: 11px;">
            {% if snippet.language %}
              <strong style="opacity:0.8">{{ snippet.language }}</strong>
            {% endif %}
            <small data-toggle="tooltip"
                   data-placement="top"
                   title="{% blocktrans with version=snippet.version %}Version {{ version }}{% endblocktrans %}"
                   data-container="body"
                   style="margin-left: 8px; cursor: help">
              <span class="glyphicon glyphicon-tag"></span> {{ snippet.version }}
            </small>
            <small data-toggle="tooltip"
                   data-placement="top"
                   title="{% blocktrans with stars=snippet.stars %}Stars {{ stars }}{% endblocktrans %}"
                   data-container="body"
                   style="margin-left: 8px; cursor: help">
              <span class="glyphicon glyphicon-star"></span> {{ snippet.stars }}
            </small>
            <small data-toggle="tooltip"
                   data-placement="top"
                   title="{% blocktrans with used=snippet.used %}Used {{ used }} times{% endblocktrans %}"
                   data-container="body"
                   style="margin-left: 8px; cursor: help">
              <span class="glyphicon glyphicon-flash"></span> {{ snippet.used }}
            </small>
          </div>
          <div style="margin-bottom: 5px">
            {% if snippet.visibility == snippet.PRIVATE %}
              <span class="glyphicon glyphicon-lock"></span>
            {% elif snippet.visibility == snippet.UNLISTED %}
              <span class="glyphicon glyphicon-eye-close"></span>
            {% endif %}
            {% if snippet.description %}<strong>{{ snippet.description }}</strong>{% endif %}
            <small>/{{ user.username }}/{{ snippet.slug }}/</small>
          </div>
          <small style="opacity:0.8">
            Last used {{ snippet.last_used|naturaltime|default_if_none:'never' }}
          </small>
        </a>
      {% endfor %}
    </div>
    <div class="panel-footer">
      {{ page_user.snippets.count }} snippets
    </div>
  </div>

  <ul class="pagination" style="margin-top: 0"> <li class="disabled"><a aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li> <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li> <li><a href="#">2</a></li> <li><a href="#">3</a></li> <li><a href="#">4</a></li> <li><a href="#">5</a></li> <li><a aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li> </ul>
{% endblock %}
