{% extends 'base.html' %}

{% load i18n static %}

{% block stylesheet %}
  <!--link rel="stylesheet" href="{% static 'vendor/prism/css/prism.css' %}"-->
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/highlight/styles/xcode.css' %}">
{% endblock %}

{% block javascript %}
  <!--script src="{% static 'vendor/prism/js/prism.js' %}"></script-->
  <script src="{% static 'vendor/highlight/highlight.pack.js' %}"></script>
  <script>
    hljs.initHighlightingOnLoad();
    $(function () {
      $("[data-toggle='tooltip']").tooltip();
    });
  </script>
{% endblock %}

{% block content %}
  <h3 class="page-header">
    <span class="pull-right">

      <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-star"></span>
        Star
        <span class="badge">{{ snippet.stars }}</span>
      </button>

      <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-flash"></span> Use
        <span class="badge">{{ snippet.used }}</span>
      </button>

      <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-save"></span> Make a Copy
        <span class="badge">0</span>
      </button>

    </span>

    {% if snippet.visibility == snippet.PRIVATE %}
      <span class="glyphicon glyphicon-lock"
            style="color: #f0ad4e; font-size: 75%; cursor: help"
            data-toggle="tooltip"
            data-placement="top"
            title="{% trans 'This is a private snippet' %}"
            data-container="body"></span>
    {% endif %}

    <a href="{% url 'profile' snippet.user.username %}">{{ snippet.user.username }}</a>
    <span class="text-muted">/</span>
    <a href="{% url 'snippets:snippet' snippet.user.username snippet.slug %}">{{ snippet.slug }}</a>
  </h3>

  <p class="lead">{{ snippet.description }}</p>

  <ul class="nav nav-pills" style="margin-bottom: 20px">
    <li role="presentation" class="active">
      <a href="#">
        <span class="glyphicon glyphicon-console"></span>
        {% trans 'Snippet Code' %}
      </a>
    </li>
    <li role="presentation">
      <a href="#">
        <span class="glyphicon glyphicon-tags"></span>
        {% trans 'Versions' %}
        <span class="badge">{{ snippet.version }}</span>
      </a>
    </li>
    <li role="presentation">
      <a href="#">
        <span class="glyphicon glyphicon-cog"></span>
        {% trans 'Settings' %}
      </a>
    </li>
  </ul>

<div class="panel panel-default">
  <div class="panel-heading">
    <a href="{% url 'snippets:snippet' snippet.user.username snippet.slug %}">
      <span class="glyphicon glyphicon-link"></span>
      {% url 'snippets:snippet' snippet.user.username snippet.slug %}
    </a>
  </div>
  <div class="panel-body">
<pre><code class="lang-python">def add(request):
  if request.method == 'POST':
      form = CreateSnippetForm(request.POST)
      form.instance.user = request.user
      if form.is_valid():
          snippet = form.save()
          return redirect(reverse('profile', args=(request.user.username,)))
  else:
      form = CreateSnippetForm()
  return render(request, 'snippets/add.html', {'form': form})</code></pre>
  </div>
  <div class="panel-footer">
    <button type="button" class="btn btn-default btn-sm">Copy snippet to clipboard</button>
    <button type="button" class="btn btn-default btn-sm">Copy endpoint to clipboard</button>
    <button type="button" class="btn btn-default btn-sm">Use in the web browser</button>
  </div>
</div>

{% endblock %}
