{% extends 'base.html' %}

{% load i18n %}

{% block content %}
  <h2 class="page-header">
    {% trans 'Profile' %} <small class="text-muted">({{ user.username }})</small>
  </h2>
  <div class="row">
    <div class="col-md-4">
      {% include 'profiles/includes/menu.html' with active='profile' %}
    </div>
    <div class="col-md-8">
      <form method="post">
        {% csrf_token %}
        {% include 'forms/form.html' with form=user_form %}
        {% include 'forms/form.html' with form=profile_form %}
        <div class="form-group">
          <button type="submit" class="btn btn-primary">{% trans 'Save changes' %}</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
