{% extends 'base.html' %}

{% load i18n %}

{% block content_header %}
  <h2>
    {% trans 'Change password' %} <small class="text-muted">({{ user.username }})</small>
  </h2>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-4">
      {% include 'profiles/includes/menu_settings.html' with active='password' %}
    </div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <form method="post">
            {% csrf_token %}
            {% include 'forms/form.html' with form=form %}
            <div class="form-group">
              <button type="submit" class="btn btn-primary">{% trans 'Save changes' %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
