{% extends 'base.html' %}

{% load filewalker i18n static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'scaffold_templates/css/details.css' %}">
{% endblock %}

{% block javascript %}
  <script src="{% static 'scaffold_templates/js/details.js' %}"></script>
{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'profile' scaffold_template.user.username %}">{{ scaffold_template.user.profile.get_display_name }}</a></li>
  <li><a href="{% url 'scaffold_templates:list' scaffold_template.user.username %}">{% trans 'Scaffold Templates' %}</a></li>
  <li class="active">{{ scaffold_template.slug }}</li>
{% endblock %}

{% block messages %}
  {{ block.super }}
  {% if scaffold_template.version == 0 %}
    {% include 'scaffold_templates/includes/draft_warning.html' %}
  {% endif %}
{% endblock %}

{% block content_header %}
  {% include 'scaffold_templates/includes/header.html' with active='files' %}
{% endblock %}

{% block content %}
  <div class="btn-group btn-group-justified" role="group" aria-label="File Wizard" style="margin-bottom: 20px">
    <a href="{% url 'scaffold_templates:details' scaffold_template.user.username scaffold_template.slug %}" class="btn btn-sm btn-primary">
      <span class="glyphicon glyphicon-unchecked"></span> {% trans 'File Structure' %}
    </a>
    <a href="{% url 'scaffold_templates:edit' scaffold_template.user.username scaffold_template.slug %}" class="btn btn-sm btn-default">
      <span class="glyphicon glyphicon-unchecked"></span> {% trans 'File Contents' %}
    </a>
    <a href="#" class="btn btn-sm btn-default">
      <span class="glyphicon glyphicon-unchecked"></span> {% trans 'Default Values' %}
    </a>
    <a href="#" class="btn btn-sm btn-default">
      <span class="glyphicon glyphicon-unchecked"></span> {% trans 'Review & Release' %}
    </a>
  </div>
  {% comment %}
  <div class="panel panel-info">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-info-sign"></span> Define the File Structure
    </div>
    <div class="panel-body">
      <p>First define the file structure of the scaffold template. You may add files and folders.</p>
      <p>Create the files properly by adding the extension to the filename, so we can pick the correct syntax highlight in the next step.</p>
      <p>You can find more help resources <a href="">clicking here</a>.</p>
    </div>
  </div>
  {% endcomment %}

  <nav>
    <ul class="pager">
      <li class="previous disabled">
        <a href="#">
          <span aria-hidden="true">&larr;</span> {% trans 'Previous' %}
        </a>
      </li>
      <li class="next">
        <a href="{% url 'scaffold_templates:edit' scaffold_template.user.username scaffold_template.slug %}">
          {% trans 'Next' %} <span aria-hidden="true">&rarr;</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <div class="pull-right" style="margin-top: -5px">
          <button type="button"
                  class="btn btn-primary btn-sm js-add-file"
                  data-url="{% url 'scaffold_templates:add_folder' scaffold_template.user.username scaffold_template.slug %}">
            <span class="glyphicon glyphicon-folder-close"></span>
            {% trans 'Add folder' %}
          </button>
          <button type="button"
                  class="btn btn-primary btn-sm js-add-file"
                  data-url="{% url 'scaffold_templates:add_file' scaffold_template.user.username scaffold_template.slug %}">
            <span class="glyphicon glyphicon-file"></span>
            {% trans 'Add file' %}
          </button>
        </div>
        <span class="glyphicon glyphicon-inbox"></span> {{ scaffold_template.slug }}
      </h3>
    </div>
    <table id="table-files" class="table table-hover">
      <thead>
        <tr>
          <th style="width: 50%">{% trans 'Name' %}</th>
          <th>{% trans 'Size' %}</th>
          <th>{% trans 'Date Modified' %}</th>
          <th>{% trans 'Date Added' %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% walk scaffold_template.files.all %}
      </tbody>
    </table>
    <div class="panel-footer">
      <span class="items-count">{{ scaffold_template.files.count }}</span> {% trans 'items' %}
    </div>
  </div>

  <nav>
    <ul class="pager">
      <li class="previous disabled">
        <a href="#">
          <span aria-hidden="true">&larr;</span> {% trans 'Previous' %}
        </a>
      </li>
      <li class="next">
        <a href="{% url 'scaffold_templates:edit' scaffold_template.user.username scaffold_template.slug %}">
          {% trans 'Next' %} <span aria-hidden="true">&rarr;</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="modal fade" id="modal-delete-file"></div>
{% endblock %}
