{% extends 'base.html' %}

{% load i18n filewalker %}

{% block stylesheet %}
  <style type="text/css">
    .toggle-folder {
      width: 18px;
      font-size: 10px;
      vertical-align: middle!important;
      display: inline-block;
    }

    #table-files tbody tr td {
      -webkit-transition: all 0.2s ease 0s;
         -moz-transition: all 0.2s ease 0s;
           -o-transition: all 0.2s ease 0s;
              transition: all 0.2s ease 0s;
    }
  </style>
{% endblock %}

{% block javascript %}
  <script>
    $(function () {
      $("main").on("click", ".js-add-file", function () {
        var url = $(this).attr("data-url");
        var folder_id = $(this).attr("data-folder-id");

        $.ajax({
          url: url,
          type: 'get',
          cache: false,
          beforeSend: function () {
            $.cmdbox.loading();
          },
          success: function (data) {
            if (folder_id === undefined) {
              $("#table-files tbody").prepend(data.form);
              $("#form-add-file").closest("td").css("padding-left", "26px");
            }
            else {
              var parent = $("#table-files tbody tr[data-id='" + folder_id + "']");
              var depth = parseInt($(parent).attr("data-depth"));
              var padding = (26 + ((depth + 1) * 24));
              $(parent).after(data.form);
              $("#form-add-file").closest("td").css("padding-left", padding + "px");
            }
            $("#id_add_file-name").focus();
            $("#id_add_file-name").select();
          },
          complete: function () {
            $.cmdbox.stopLoading();
          }
        });
      });

      var saveFile = function () {
        $.ajax({
          url: $("#form-add-file").attr("action"),
          data: $("#form-add-file").serialize(),
          type: 'post',
          beforeSend: function () {
            $.cmdbox.loading();
          },
          success: function (data) {
            if (data.is_valid) {
              $("#table-files tbody").html(data.html);
              var row = $("#table-files tbody tr[data-id='" + data.file + "']");
              $(row).addClass("info");
              setTimeout(function () {
                $(row).removeClass("info");
              }, 500)
            }
            else {
              $("#form-add-file").closest("tr").replaceWith(data.form);
            }
          },
          complete: function () {
            $.cmdbox.stopLoading();
          }
        });
        return false;
      };

      $("#table-files").on("blur", "#id_add_file-name", saveFile);

      $("#table-files").on("submit", "#form-add-file", saveFile);

    });
  </script>
{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'profile' scaffold_template.user.username %}">{{ scaffold_template.user.profile.get_display_name }}</a></li>
  <li><a href="{% url 'scaffold_templates:list' scaffold_template.user.username %}">{% trans 'Scaffold Templates' %}</a></li>
  <li class="active">{{ scaffold_template.slug }}</li>
{% endblock %}

{% block messages %}
  {{ block.super }}
  <div class="messages alert alert-warning"
       role="alert">
    <div class="container">
      <span class="glyphicon glyphicon-erase"></span>
      This scaffold template is still a working draft.
    </div>
  </div>
{% endblock %}

{% block content_header %}
  {% include 'scaffold_templates/includes/header.html' with active='files' %}
{% endblock %}

{% block content %}

  <div class="btn-group btn-group-justified" role="group" aria-label="..." style="margin-bottom: 20px">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-sm btn-primary">
        <span class="glyphicon glyphicon-unchecked"></span> {% trans '1. File Structure' %}
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-unchecked"></span> {% trans '2. File Contents' %}
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-unchecked"></span> {% trans '3. Default Values' %}
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-unchecked"></span> {% trans '4. Review & Release' %}
      </button>
    </div>
  </div>

  <div class="btn-group" data-toggle="buttons" style="margin-bottom: 20px">
    <label class="btn btn-default active">
      <input type="radio" name="options" id="option1" autocomplete="off" checked>
      <span class="glyphicon glyphicon-th-large"></span>
    </label>
    <label class="btn btn-default">
      <input type="radio" name="options" id="option2" autocomplete="off">
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </label>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <div class="pull-right" style="margin-top: -5px">
          <button type="button" class="btn btn-primary btn-sm js-add-folder">
            <span class="glyphicon glyphicon-folder-close"></span>
            {% trans 'Add folder' %}
          </button>
          <button type="button"
                  class="btn btn-primary btn-sm js-add-file"
                  data-url="{% url 'scaffold_templates:add_file' scaffold_template.user.username scaffold_template.slug %}">
            <span class="glyphicon glyphicon-file"></span>
            {% trans 'Add file' %}
          </button>
        </div>
        <span class="glyphicon glyphicon-inbox"></span> {{ scaffold_template.slug }}
      </h3>
    </div>
    <table id="table-files" class="table table-striped table-hover">
      <thead>
        <tr>
          <th style="width: 60%">{% trans 'Name' %}</th>
          <th>{% trans 'Size' %}</th>
          <th>{% trans 'Date Modified' %}</th>
          <th>{% trans 'Date Added' %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% walk scaffold_template.files.all %}
      </tbody>
    </table>
    <div class="panel-footer">
      {{ scaffold_template.files.count }} {% trans 'items' %}
    </div>
  </div>
{% endblock %}
