{% extends 'base.html' %}

{% load i18n static %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/highlight/styles/xcode.css' %}">
  <style type="text/css">
    .panel-file .panel-body {
      height: 200px;
      overflow: hidden;
      padding: 0;
  -webkit-transition: all 0.2s ease 0s;
     -moz-transition: all 0.2s ease 0s;
       -o-transition: all 0.2s ease 0s;
          transition: all 0.2s ease 0s;
    }

    .panel-file .panel-body.panel-body-empty {
      background-color: #f5f5f5;
      text-align: center;
      padding-top: 55px;
    }

    .panel-file .panel-body.panel-body-empty .glyphicon {
      font-size: 32px;
      color: #999;
    }

    .panel-file:hover {
      cursor: pointer;
    }

    .panel-file table {
      font-size: 12px;
    }

    .panel-file table tbody {
      color: #777;
    }

    .file-container {
  -webkit-transition: all 0.2s ease 0s;
     -moz-transition: all 0.2s ease 0s;
       -o-transition: all 0.2s ease 0s;
          transition: all 0.2s ease 0s;
    }

  </style>
{% endblock %}

{% block javascript %}
  <script src="{% static 'vendor/highlight/highlight.pack.js' %}"></script>
  <script type="text/javascript">
    hljs.initHighlightingOnLoad();
    $(function () {
      $(".panel-file").hover(function () {
        $(this).removeClass("panel-default").addClass("panel-primary");
      }, function () {
        $(this).removeClass("panel-primary").addClass("panel-default");
      });

      $(".panel-file").click(function () {
        location.href = $(this).attr("data-url");
        //var container = $(this).closest(".file-container");
        //$(container).removeClass().addClass("col-md-12");
        //$(container).css("width", "100%");
        //$(".panel-body", container).css("height", "400px");
      });

      $.fn.changeDisplay = function (displayOption) {
        if (displayOption === "grid") {
          $(".col-md-12", this).removeClass("col-md-12").addClass("col-md-6");
        }
        else {
          $(".col-md-6", this).removeClass("col-md-6").addClass("col-md-12");
        }
      };

      $("[name='files-display-options']").change(function () {
        var displayOption = $(this).val();
        $("#files-list").changeDisplay(displayOption);
        Cookies.set("files-display-options", displayOption);
      });

    });
  </script>
{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'profile' scaffold_template.user.username %}">{{ scaffold_template.user.profile.get_display_name }}</a></li>
  <li><a href="{% url 'scaffold_templates:list' scaffold_template.user.username %}">{% trans 'Scaffold Templates' %}</a></li>
  <li class="active">{{ scaffold_template.slug }}</li>
{% endblock %}

{% block messages %}
  {{ block.super }}
  {% if scaffold_template.version == 0 %}
    {% include 'scaffold_templates/includes/draft_warning.html' %}
  {% endif %}
{% endblock %}

{% block content_header %}
  {% include 'scaffold_templates/includes/header.html' with active='files' %}
{% endblock %}

{% block content %}
  <div class="btn-group btn-group-justified" role="group" aria-label="File Wizard" style="margin-bottom: 20px">
    <a href="{% url 'scaffold_templates:details' scaffold_template.user.username scaffold_template.slug %}" class="btn btn-sm btn-primary">
      <span class="glyphicon glyphicon-ok"></span> {% trans 'File Structure' %}
    </a>
    <a href="{% url 'scaffold_templates:edit' scaffold_template.user.username scaffold_template.slug %}" class="btn btn-sm btn-primary">
      <span class="glyphicon glyphicon-unchecked"></span> {% trans 'File Contents' %}
    </a>
    <a href="#" class="btn btn-sm btn-default">
      <span class="glyphicon glyphicon-unchecked"></span> {% trans 'Default Values' %}
    </a>
    <a href="#" class="btn btn-sm btn-default">
      <span class="glyphicon glyphicon-unchecked"></span> {% trans 'Review & Release' %}
    </a>
  </div>

  {% comment %}
  <div class="panel panel-info">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-info-sign"></span> Define the File Contents
    </div>
    <div class="panel-body">

    </div>
  </div>
  {% endcomment %}

  <nav>
    <ul class="pager">
      <li class="previous">
        <a href="{% url 'scaffold_templates:details' scaffold_template.user.username scaffold_template.slug %}">
          <span aria-hidden="true">&larr;</span> {% trans 'Previous' %}
        </a>
      </li>
      <li class="next">
        <a href="#">
          {% trans 'Next' %} <span aria-hidden="true">&rarr;</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="btn-group" data-toggle="buttons" style="margin-bottom: 20px">
    <label class="btn btn-default{% if files_display_option == 'grid' %} active{% endif %}">
      <input type="radio"
             name="files-display-options"
             id="file-display-grid"
             value="grid"
             autocomplete="off"{% if files_display_option == 'grid' %} checked{% endif %}>
      <span class="glyphicon glyphicon-th-large"></span>
    </label>
    <label class="btn btn-default{% if files_display_option == 'list' %} active{% endif %}">
      <input type="radio"
             name="files-display-options"
             id="file-display-list"
             value="list"
             autocomplete="off"{% if files_display_option == 'list' %} checked{% endif %}>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </label>
  </div>

  <div id="files-list">
    <div class="row">
      {% for file in scaffold_template.list_files %}
        <div class="file-container {% if files_display_option == 'list' %}col-md-12{% else %}col-md-6{% endif %}">
          <div class="panel panel-default panel-file"
               data-url="{% url 'scaffold_templates:edit_file' scaffold_template.user.username scaffold_template.slug file.pk %}">
            <div class="panel-heading">
              <span class="glyphicon glyphicon-file"></span>
              {{ file.path }}
            </div>
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>Kind</th>
                  <th>Size</th>
                  <th>Date Modified</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ file.extension }}</td>
                  <td>{{ file.get_naturalsize }}</td>
                  <td>{{ file.updated_at|date:"M j, Y, H:i" }}</td>
                </tr>
              </tbody>
            </table>
            {% if file.content %}
              <div class="panel-body">
                <pre><code>{{ file.content }}</code></pre>
              </div>
            {% else %}
              <div class="panel-body panel-body-empty">
                <span class="glyphicon glyphicon-file"></span>
                <h4>{% trans 'This file is empty. Click to edit.' %}</h4>
              </div>
            {% endif %}
          </div>
        </div>
        {% if forloop.counter|divisibleby:2 %}</div><div class="row">{% endif %}
      {% endfor %}
    </div>
  </div>

  <nav>
    <ul class="pager">
      <li class="previous">
        <a href="{% url 'scaffold_templates:details' scaffold_template.user.username scaffold_template.slug %}">
          <span aria-hidden="true">&larr;</span> {% trans 'Previous' %}
        </a>
      </li>
      <li class="next">
        <a href="#">
          {% trans 'Next' %} <span aria-hidden="true">&rarr;</span>
        </a>
      </li>
    </ul>
  </nav>

{% endblock %}
