@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,300,700,600,200,900);

html,
body {
  height: 100%;
}

body {
  font-family: 'Source Code Pro', 'courier';
}

.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}

.push {
  height: 50px;
}

footer {
  border-top: 1px solid #1194c1;
  background-color: #14a6d8;
  color: #fff;
  height: 50px;
  padding-top: 14px;
  position: relative;
}

footer a,
footer a:hover,
footer a:active {
  color: #fff;
}

footer .links {
  margin-left: 30px;
}

header .navbar {
  margin-bottom: 0;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  background-color: #fff;
  height: 60px;
}

.navbar-default .navbar-brand {
  color: #393939;
  font-weight: 600;
}

header .navbar-brand img {
  width: 38px;
}

header .navbar-nav > li > a {
  padding-bottom: 20px;
  padding-top: 20px;
}

header .navbar-brand {
  line-height: 38px;
  padding: 11px 15px;
}

header .navbar-btn {
  margin-bottom: 12px;
  margin-top: 12px;
}

.messages.alert {
  border-radius: 0;
  border-left: 0 none;
  border-right: 0 none;
  margin-bottom: 0;
}

.content-header {
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
}

.content-header h2,
.content-header h3 {
  margin: 30px 0 20px;
}

.content-header .nav-tabs {
  border: 0;
}

main {
  margin-top: 20px;
}

.content-breadcrumb {
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.content-breadcrumb .breadcrumb {
  margin-bottom: 0;
  background-color: transparent;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 12px;
}

.content-breadcrumb .breadcrumb li.active {
  color: #aaa;
}

.content-breadcrumb .breadcrumb li a {
  color: #777;
  text-decoration: underline;
}

.content-breadcrumb .breadcrumb > li + li:before {
  content: "/\00a0";
}

.profile-details {
  padding: 0;
  margin-bottom: 20px;
  font-size: 12px;
}

.profile-details li {
  display: inline;
  list-style: none;
  margin-right: 15px;
  color: #777;
}

.profile-details li a {
  color: #777;
}

/* bootstrap reset */

pre {
  padding: 0;
  background-color: transparent;
  border: 0 none;
  margin: 0;
  border-radius: 0;
}

/* Spinner http://tobiasahlin.com/spinkit/ */

.spinner {
  width: 80px;
  height: 80px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

/* Global loading */

.loading {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9000;
  display: none;
}

.loading .spinner {
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  position: fixed;
  text-align: center;
  z-index: 9001;
}
