@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,300,700,600,200,900);

body {
  font-family: 'Source Code Pro', 'courier';
  background-color: #fafafa;
}

header {
  background-color: #fff;
  padding: 1em 0;
  border-bottom: 1px solid #eee;
}

header .btn-link,
header .btn-link:hover,
header .btn-link:active {
  color: #555;
  text-decoration: none;
}

.logo {
  margin: 0;
  font-size: 1.6em;
  font-weight: 600;
  color: #393939;
}

.logo:hover,
.logo:active {
  text-decoration: none;
  color: #393939;
}

.logo img {
  width: 38px;
  float: left;
  margin-right: 10px;
  margin-top: -3px;
}