{% load i18n static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}CmdBox{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    {% block stylesheet %}{% endblock %}
  </head>
  <body>
    {% block app_wrapper %}
      <header>
        <div class="container">
          <div class="pull-right">
            {% if user.is_authenticated %}
              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-plus"></span>
                  {% trans 'Add' %}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'snippets:add' %}">{% trans 'Snippet' %}</a></li>
                  <li><a href="javascript:void(0);">{% trans 'Template scaffold' %}</a></li>
                  <li><a href="javascript:void(0);">{% trans 'Script' %}</a></li>
                </ul>
              </div>
              <a href="{% url 'profile' user.username %}" class="btn btn-link" title="{% trans 'My profile' %}">
                <span class="glyphicon glyphicon-user"></span>
                {{ user.username }}
              </a>
              <a href="{% url 'account_settings' %}" class="btn btn-link" title="{% trans 'Account settings' %}">
                <span class="glyphicon glyphicon-cog"></span>
              </a>
              <a href="{% url 'logout' %}" class="btn btn-link" title="{% trans 'Log out' %}">
                <span class="glyphicon glyphicon-log-out"></span>
              </a>
            {% else %}
              <a href="{% url 'signup' %}" class="btn btn-default">{% trans 'Sign up' %}</a>
              <a href="{% url 'login' %}" class="btn btn-default">{% trans 'Login' %}</a>
            {% endif %}
          </div>
          <a href="{% url 'home' %}" class="logo">
            <img src="{% static 'img/logo.png' %}" alt="cmdbox">
            CmdBox
          </a>
        </div>
      </header>
      {% if messages %}
        {% for message in messages %}
          <div class="messages alert alert-dismissible {% if message.tags %}{% if message.tags == 'error' %}alert-danger{% elif message.tags == 'debug' %}alert-warning{% else %}alert-{{ message.tags }}{% endif %}{% else %}alert-info{% endif %}"
               role="alert">
            <div class="container">
              <button type="button" class="close" data-dismiss="alert" aria-label="{% trans 'Close' %}">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ message }}
            </div>
          </div>
        {% endfor %}
      {% endif %}
      <main class="content">
        <div class="container">
          {% block content %}
          {% endblock %}
        </div>
      </main>
      <footer>
      </footer>
    {% endblock %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/expanding.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script>
      $(function () {
        $.cmdbox.init();
      });
    </script>
    {% block javascript %}
    {% endblock %}
  </body>
</html>